<!--this is the partial head the code we import into the head of the index.-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>November | 2023</title>
    
    <!--This is were we import the css -->
    <link rel="stylesheet" href="styles.css">

</head>