<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<body>
    <header class="header">
        <a href="/"><img src="https://placehold.co/75" alt="Logo / path home"></a>
        Kalender <strong>2025</strong>
    </header>

    <div>
        <h1>404</h1>
    </div>
    <div>

    </div>

    <footer>
        <p>&#169; Mohamad, Mrtin, Henrik, Scott,  All Right Reserved</p>
    </footer>
</body>
</html>