<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<body>
    
    <%- include('./partials/header.ejs')  %>

    <div>
        <h1>404</h1>
    </div>
    <div>

    </div>

    <footer>
        <p>&#169; Mohamad, Mrtin, Henrik, Scott,  All Right Reserved</p>
    </footer>
</body>
</html>