<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enkel Kalender</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <section class="header">
        <h1>FEBRUAR 2025</h1>
    </section>

    <section class="main">
        <div class="kalender">
        <div class="dag">Mandag</div>
        <div class="dag">Tirsdag</div>
        <div class="dag">Onsdag</div>
        <div class="dag">Torsdag</div>
        <div class="dag">Fredag</div>
        <div class="dag">Lørdag</div>
        <div class="dag">Søndag</div>
        <div class="dato"></div>
        <div class="dato"></div>
        <div class="dato"></div>
        <div class="dato"></div>
        <div class="dato"></div>
        <div class="dato">1</div>
        <div class="dato">2</div>
        <div class="dato">3</div>
        <div class="dato">4</div>
        <div class="dato">5</div>
        <div class="dato">6</div>
        <div class="dato">7</div>
        <div class="dato">8</div>
        <div class="dato">9</div>
        <div class="dato">10</div>
        <div class="dato">11</div>
        <div class="dato">12</div>
        <div class="dato">13</div>
        <div class="dato">14</div>
        <div class="dato">15</div>
        <div class="dato">16</div>
        <div class="dato">17</div>
        <div class="dato">18</div>
        <div class="dato">19</div>
        <div class="dato">20</div>
        <div class="dato">21</div>
        <div class="dato">22</div>
        <div class="dato">23</div>
        <div class="dato">24</div>
        <div class="dato">25</div>
        <div class="dato">26</div>
        <div class="dato">27</div>
        <div class="dato">28</div>
    </div>
</div>
</section>
</body>
</html>