<!DOCTYPE html>
<html lang="no">

    <%- include('./partials/head.ejs')  %>


<body>
    <%- include('./partials/header.ejs')  %>
    
    <div class="calendar">
        <div class="weekdays">
            <div>Man</div>
            <div>Tir</div>
            <div>Ons</div>
            <div>Tor</div>
            <div>Fre</div>
            <div>Lør</div>
            <div>Søn</div>
        </div>
        <div id="swipe-container">
        <div class="days">
            <div class="day other-month">27</div>
            <div class="day other-month">28</div>
            <div class="day other-month">29</div>
            <div class="day other-month">30</div>
            <div class="day other-month">31</div>
            <a href="february/1."><div class="day">1</div></a>
            <a href="february/2."><div class="day">2</div></a>
            <a href="february/3."><div class="day">3</div></a>
            <a href="february/4."><div class="day">4</div></a>
            <a href="february/5."><div class="day">5</div></a>
            <a href="february/6."><div class="day">6</div></a>
            <a href="february/7."><div class="day">7</div></a>
            <a href="february/8."><div class="day">8</div></a>
            <a href="february/9."><div class="day">9</div></a>
            <a href="february/10."><div class="day">10</div></a>
            <a href="february/11."><div class="day">11</div></a>
            <a href="february/12."><div class="day">12</div></a>
            <a href="february/13."><div class="day">13</div></a>
            <a href="february/14."><div class="day">14</div></a>
            <a href="february/15."><div class="day">15</div></a>
            <a href="february/16."><div class="day">16</div></a>
            <a href="february/17."><div class="day">17</div></a>
            <a href="february/18."><div class="day">18</div></a>
            <a href="february/19."><div class="day">19</div></a>
            <a href="february/20."><div class="day">20</div></a>
            <a href="february/21."><div class="day">21</div></a>
            <a href="february/22."><div class="day">22</div></a>
            <a href="february/23."><div class="day">23</div></a>
            <a href="february/24."><div class="day">24</div></a>
            <a href="february/25."><div class="day">25</div></a>
            <a href="february/26."><div class="day">26</div></a>
            <a href="february/27."><div class="day">27</div></a>
            <a href="february/28."><div class="day">28</div></a>
        </div>
    </div>
</div>

    <footer>
        <p>&#169; Mohamad, Mrtin, Henrik, Scott,  All Right Reserved</p>
    </footer>

</body>
</html>
