<!DOCTYPE html>
<html lang="no">

    <%- include('./partials/head.ejs')  %>


<body>
    <%- include('./partials/header.ejs')  %>
    
    <div class="calendar">
        <div class="weekdays">
            <div>Man</div>
            <div>Tir</div>
            <div>Ons</div>
            <div>Tor</div>
            <div>Fre</div>
            <div>Lør</div>
            <div>Søn</div>
        </div>
        <div id="swipe-container">
        <div class="days">
            <div class="day other-month">30</div>
        <div class="day other-month">31</div>
            <a href="november/1." id="link1"><div class="day" >1</div></a>
            <a href="november/2." id="link2"><div class="day" >2</div></a>
            <a href="november/3." id="link3"><div class="day" >3</div></a>
            <a href="november/4." id="link4"><div class="day" >4</div></a>
            <a href="november/5." id="link5"><div class="day" >5</div></a>
            <a href="november/6." id="link6"><div class="day" >6</div></a>
            <a href="november/7." id="link7"><div class="day" >7</div></a>
            <a href="november/8." id="link8"><div class="day" >8</div></a>
            <a href="november/9." id="link9"><div class="day" >9</div></a>
            <a href="november/10." id="link10"><div class="day" >10</div></a>
            <a href="november/11." id="link11"><div class="day" >11</div></a>
            <a href="november/12." id="link12"><div class="day" >12</div></a>
            <a href="november/13." id="link13"><div class="day" >13</div></a>
            <a href="november/14." id="link14"><div class="day" >14</div></a>
            <a href="november/15." id="link15"><div class="day" >15</div></a>
            <a href="november/16." id="link16"><div class="day" >16</div></a>
            <a href="november/17." id="link17"><div class="day" >17</div></a>
            <a href="november/18." id="link18"><div class="day" >18</div></a>
            <a href="november/19." id="link19"><div class="day" >19</div></a>
            <a href="november/20." id="link20"><div class="day" >20</div></a>
            <a href="november/21." id="link21"><div class="day" >21</div></a>
            <a href="november/22." id="link22"><div class="day" >22</div></a>
            <a href="november/23." id="link23"><div class="day" >23</div></a>
            <a href="november/24." id="link24"><div class="day" >24</div></a>
            <a href="november/25." id="link25"><div class="day" >25</div></a>
            <a href="november/26." id="link26"><div class="day" >26</div></a>
            <a href="november/27." id="link27"><div class="day" >27</div></a>
            <a href="november/28." id="link28"><div class="day" >28</div></a>
            <a href="november/29." id="link29"><div class="day" >29</div></a>
            <a href="november/30." id="link30"><div class="day" >30</div></a>
        </div>
    </div>
</div>

    <footer>
        <p>&#169; Mohamad, Mrtin, Henrik, Scott,  All Right Reserved</p>
    </footer>
    <script src="date.js"></script>
    <script src="swipe.js"></script>
    <script src="arrow.js"></script>
</body>
</html>
